#banner
    .banner_content
        %h1 File Cabinet
        %p Your life's work. Organized, always.
        %button= link_to "Enter", new_user_registration_path

#callouts
    .callout_inner
        .wrapper
            .callout
                %h2 Organized
                %p Four loko single-origin coffee irony 
                freegan woke echo park, shoreditch cardigan chicharrones kombucha 
                lyft raclette post-ironic. Paleo typewriter trust fund austin subway tile hammock, enamel pin bespoke. Affogato literally forage iPhone, deep 
                v bicycle rights man bun pinterest mustache authentic umami cronut pug. Tumeric semiotics literally messenger bag humblebrag, actually woke PBR&B 
                man braid skateboard stumptown narwhal tattooed. Brunch brooklyn kinfolk, narwhal pug pabst tumblr +1. La croix craft beer pitchfork trust fund PBR&B, freegan 
                selfies celiac cornhole humblebrag unicorn. Affogato cloud bread irony yr, cornhole viral distillery wayfarers poutine literally cray knausgaard leggings jianbing. Irony hammock vice, next level messenger bag PBR&B lomo vinyl ramps keytar offal etsy affogato. Plaid pickled seitan, marfa live-edge photo booth craft beer mustache palo santo sartorial pinterest williamsburg. Vice pour-over poutine cray, affogato sustainable coloring book echo park everyday carry VHS blue bottle. Dreamcatcher chia jianbing fashion axe four loko tattooed kinfolk keytar, kickstarter umami farm-to-table distillery 
                meggings. Salvia pitchfork 90's, keytar offal artisan shabby chic. Tote bag sriracha semiotics offal next level gochujang echo park 

#bottom_cta
    .wrapper
        %h2 Go Ahead! 
        %br
        %button= link_to "Join Now", new_user_registration_path